<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/three@0.101.1"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.101.1/examples/js/controls/OrbitControls.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.9/dat.gui.min.js" ></script>
</head>
<body>
</body>
<script>
let camera, scene, renderer,controls;


function init() {

    config= {
    {% for f in namemaskoutput %}
      'checkbox{{loop.index}}' : true,
    {% endfor %}
      'slider' : 0.1
     };
    renderer = new THREE.WebGLRenderer( { antialias: true } );
    renderer.setPixelRatio( window.devicePixelRatio );
    renderer.setSize( window.innerWidth, window.innerHeight );
    document.body.appendChild( renderer.domElement );

    camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 0.1, 1000 );
    camera.position.z = 30;
    controls = new THREE.OrbitControls( camera, renderer.domElement );
    controls.update();



    scene = new THREE.Scene();
    
    const loader = new THREE.TextureLoader();
    const texture = loader.load( 'original.png' );
    const arraymesh = [];


    geometry = new THREE.PlaneGeometry( {{20*scale}}, {{20*(1/scale)}} ); // ensure correct aspect ratio
    material = new THREE.MeshBasicMaterial( { map: texture } );
    mesh = new THREE.Mesh( geometry, material );
    scene.add( mesh );

    {% for f in namemaskoutput %}
    masktexture1=  loader.load( '{{f}}' );
    geometry1 = new THREE.PlaneGeometry( {{20*scale}}, {{20*(1/scale)}} ); // ensure correct aspect ratio
    geometry1.translate(0,0,{{loop.index}}/10 );
    material1 = new THREE.MeshBasicMaterial( { map: masktexture1,  transparent: true } );
    mesh1 = new THREE.Mesh( geometry1, material1 );
    arraymesh.push(mesh1);
    scene.add( mesh1 );
    {% endfor %}

//
// dat.gui
//
var objshowmain = { showmain:function(){
        mesh.visible = true;
    }};
var objhidemain = { hidemain:function(){
        mesh.visible = false;
    }};
var objshowall = { showall:function(){
    for (let i = 0; i < arraymesh.length; i++) {
         arraymesh[i].visible = true;
    }
 }};

var objhideall = { hideall:function(){
    for (let i = 0; i <arraymesh.length ; i++) {
         arraymesh[i].visible = false;
    }
 }};

const gui = new  dat.GUI()
gui.add(objshowmain,'showmain');
gui.add(objhidemain,'hidemain');
gui.add(objshowall,'showall');
gui.add(objhideall,'hideall');
var slider2 = gui.add(config, 'slider', 0, 10);

slider2.onChange(function (value) {
    for (let i = 0; i <arraymesh.length ; i++) {
         arraymesh[i].position.z = value*i;
    }
});

const visibleFolder = gui.addFolder('visible layer')
    {% for f in namemaskoutput %}
       visibleFolder.add(config, 'checkbox{{loop.index}}').onChange(function (value) {
              arraymesh[{{loop.index}}].visible = value;
            }); 
    {% endfor %}
}

function animate() {

    requestAnimationFrame( animate );
    controls.update();
    renderer.render( scene, camera );

}

init();
animate();

</script>
</html>
